dialog {
    position: fixed;
    top: 51%;
    left: 50%;
    min-height: 650px;
    transform: translate(-50%, -50%);
}


.btn_close {
    position: absolute;
    top: 10px;
    right: 10px;
}


.bildText {
    margin: 10px 0 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

#pokemonType {
    margin: 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.btn_left {
    position: absolute;
    left: 10px;
    top: 80%;
}

.btn_right {
    position: absolute;
    right: 10px;
    top: 80%;
}


.dialog-content {
    position: relative;}
#pokemonHp,
#pokemonAttack,
#pokemonDefense {
    margin: 3px 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

body.dialog-open {
    overflow: hidden;
}
