.pokemon-name,
.pokemon-id,
.pokemon-type {
    display: block;
     line-height: 1.5;
}

.pokemon-card {
    border: 1px solid #000;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
     transition: 0.2s ease;

     cursor: pointer;
}

#pokemon-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: contents;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pokemon-card:hover {
    transform: scale(1.05);
}


.pokemon-name {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.pokemon-type {
    display: block;
    line-height: 1.5;
    font-size: 14px;
}


.img-card {
    width: 220px;
    height: 220px;
}

.btn-card {
    border: none;
     text-transform: uppercase;
     background-color: transparent;

     cursor: pointer;
}

#pokemonEvolution {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}


.btn_left,
.btn_right {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0;
    top: 70%;
}
.not-found {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.close-search {
    color: whitesmoke;
    cursor: pointer;
    grid-column: 1 / -1;
    margin: 0 auto;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    background-color: #4B164C;
}

.load-more-button {
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
    padding: 18px 30px;

    background: linear-gradient(135deg, #4B164C, #8B1E5A);
    color: #ffffff;

    border: none;
    border-radius: 12px;

    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease;
}

.load-more-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

.load-more-button {
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
    padding: 18px 30px;

    background: linear-gradient(to bottom, #bb1c73, #6abcb0);
    color: #ffffff;

    border: none;
    border-radius: 12px;

    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

.load-more-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

.load-more-button:active {
    transform: translateY(0);
}